<form class="ui stacked segment form" action="/estate/{{estate.id}}/addhouse" method="POST">
  <div class="three fields">
    <div class="field">
      <label>Title</label>
      <input placeholder="Title" type="text" name="title">
    </div>
    <div class="field">
      <label>Type</label>
      <input placeholder="Type" type="text" name="type">
    </div>
    <div class="field">
      <label>Cost</label>
      <input placeholder="Cost" type="text" name="cost">
    </div>
  </div>
  <button class="ui blue submit button">Add House</button>
</form>
