
<nav class="ui huge inverted blue menu">
    <a href="/"><img class = "ui tiny image" src = "https://cdn.glitch.com/6f63cf90-7933-43f2-9754-c3266399fe71%2Flogo.png?v=1595268262104" 
         </a>
      <header class="ui header item"> <a href="/">James & John O'Brien Builders <br><em>Our House, Your Home </em></a></header>
  <div class="right menu">
    <a id="signup" class="item" href="/signup"> Signup  </a>
    <a id="login" class="item" href="/login">  Login   </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>