{{> menu id="dashboard"}}

<section class="ui segment">
    {{> analytics}}
</section>
  
<section class="ui segment">
  <h3>New Build Requests</h3>
    {{> addbuildrequest}}
    {{> listbuildrequest}}
</section>

<section class="ui segment">
  <h3>Estates</h3>
  <img class ="ui centered large image" src = "https://cdn.glitch.com/6f63cf90-7933-43f2-9754-c3266399fe71%2Fredwood.jpg?v=1595266845812">
      {{> listestatesstatic}}
</section>

