{{> menu id="dashboard"}}

<section class="ui segment">
    {{> analytics}}
</section>
  
<section class="ui segment">
  <h3>New Build Requests</h3>
    {{> addbuildrequest}}
    {{> listbuildrequest}}
</section>

<section class = "ui blue center aligned middle aligned segment">
<p>Copyright: James and John O'Brien Builders, 2020 | Contact: jjobrienbuilder@gmail.com </p>
</section>
