{{> welcomemenu }}

<section class="ui center aligned middle aligned stacked two column grid segment">
    <div class="column">
        <h2> New Home App </h2>
        <p> Welcome to James and John O'Brien Builders' New Home App. We are a family run business with over forty years' experience building new homes in Cork City and County. Do you want to build your own unique home? </p>
        <p> Sign up to our New Home App to get an instant estimated cost for your new home. We can then review your details and send you a more detailed estimate. Add as many estimates as you like, as you figure out what works for your family and your budget. </p>
        <h3><em> We build the house, you make the home </em></h3>
    </div>
    <div class="column">
        <img class="ui fluid image"
             src="https://cdn.glitch.com/6f63cf90-7933-43f2-9754-c3266399fe71%2Fballinora1.jpg?v=1595270772293">
    </div>
</section>
<section class = "ui blue center aligned middle aligned segment">
<p>Copyright: James and John O'Brien Builders, 2020 | Contact: jjobrienbuilder@gmail.com | <a href="/builderlogin">  Builder Login  </a></p>
</section>
        
      
        