{{> welcomemenu }}

<section class="ui center aligned middle aligned stacked segment">
    <h1> Welcome to James and John O'Brien Builders <h1>
    <h2> We are a family run business with over forty years' experience. <h2>
      <h3><em> We build the house, you make the home </em><h3>
</section>
<section class ="ui center aligned middle aligned stacked segment">
  <h2> New Builds </h2>
    <a href = "/newbuilds"><img class = "ui centered fluid image" src = "https://cdn.glitch.com/6f63cf90-7933-43f2-9754-c3266399fe71%2Fballinora1.jpg?v=1595270772293"></a>
</section>
<section class ="ui center aligned middle aligned stacked segment">
  <h2> Renovations </h2>
    <a href = "/renovations"><img class = "ui centered fluid image" src = "https://cdn.glitch.com/6f63cf90-7933-43f2-9754-c3266399fe71%2Fwilton5.jpg?v=1595326094491"></a>
</section>
        
      
        