{{> menu id="newbuilds"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    New Builds
  </h3>
  <p>
    Here are some sample new builds
  </p>
  <img class="ui centered large image" src="https://cdn.glitch.com/6f63cf90-7933-43f2-9754-c3266399fe71%2Fballinora1.jpg?v=1595270772293">
  <img class="ui left aligned small image">
</section>

<section class="ui center aligned middle aligned segment">
  <!--- list estates static not working --->
  <h3>
    Estates
  </h3>
  {{> listestatesstatic}}
  {{> listestates}}
</section>